.table {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-black;
  width: 1440px;
  height: 1000px;
  margin-top: 109px;
}

.price-table {
  display: flex;
  flex-direction: row;

  & > section:nth-child(2) > .price-card__price {
    background-color: $color-blue;
  }
  & > section:nth-child(2) > .price-card__order-btn {
    background-color: $color-blue;
  }
  & > section:nth-child(3) > .price-card__price {
    background-color: $color-orange;
  }
  & > section:nth-child(3) > .price-card__order-btn {
    background-color: $color-orange;
  }
}
