.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-black;
  width: 1440px;
  height: 1000px;
  margin-top: 109px;
}

.price-table {
  display: flex;
  flex-direction: row;
}
